<p>
  La cantidad de productos agregados {{myShoppingCart.length}}
</p>
<p>
  Total: ${{total}}
</p>
<p>
  Today: {{today | date:'long'}}
</p>
<p>
  Date: {{date | date:'yyyy-MM-dd'}}
</p>
<p>
  Date formatDistanct: {{date | timeAgo}}
</p>
<p>
  {{'Hola Se va a cambiar a MayusCula' | uppercase}}
</p>
<p>
  {{'Hola se cambiaran vocales por numeros' | vocalToNumber}}
</p>
<div class="products--grid">
  <app-product
    [myProduct]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
  ></app-product>
</div>
